header{
   color:red;
   font-size:40px;
   font-style:italic;
   font-family:sans-serif;
   font-variant:small-caps;
   font-weight:bold;
   border-width:thick;
   border-style:groove;
   border-color:purple;
   margin-left:2cm;
   margin-right:2cm;
   margin-top:2cm;
}
footer{
   color:orange;
   font-style:italic;
   font-family:sans-serif;
   font-variant:small-caps;
   font-weight:bold;
   border-width:thick;
   border-style:groove;
   border-color:purple;
   margin-left:2cm;
   margin-right:2cm;
   margin-top:0.5cm;
}
body{
   background-color:#a35623;
   border-bottom:double;
   border-bottom-width:thick;
   border-bottom-style:double;
   border-bottom-color:yellow;
}

/**Create a new file called "main.css"
*Add a link element to the head of your index.html file
*<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font of each element.
*View your index.html in the development server.*Validate your *index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.*/
