h1{
   color:yellow;
   background-color:green;
   border-style:dotted;
   border-color:yellow;
}
p1{
   color:blue;
   background-color:red;
   border-color:yellow;
   border-style:dotted;
}   
h2{
   color:yellow;
   background-color:purple;
}
h3{ 
   color:purple;
   background-color:yellow;
 
}
p3{
   color:blue;
}
h4{
   color:purple;
   background-color:yellow; 
}
p4{ 
  color:blue;
}
